@model IEnumerable<Subject>
@foreach (var subject in Model) {
    <div class="border border-1 border-dark">
        <h6>@subject.Name</h6>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id=@subject.Id>Edit</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id=@subject.Id>Delete</a>
    </div>
}
    <div>
        <a class="btn btn-success" asp-action="Create">Create</a>
    </div>
